* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
:root {
    --color-primary: #080098;
    --color-succcess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: #rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #rgba(255, 255, 255, 0.7);
    --color-black: #000000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    line-height: 1.7;
    /* color: white; */
    background: rgb(240,240,240);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Navigation bar */
nav {
    background: #080098;
    width: 100 vw;
    height: 6rem;
    position: relative;
    top: 0;
    z-index: 11;
    border-bottom: 0.063rem solid white;
}

.nav__container {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
}

.nav__container a {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: normal;
    margin-right: 1rem;
}

.nav__container h5 {
    color:var(--color-white);
    font-size: 1.875rem;
    margin-right: 25rem;
}

.nav__menu a {
    display: flex;
    font-size: 0.9rem;
    color:var(--color-white);
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-bg2);
}

.text-white a {
    display: flex;
    font-size: 1.9rem;
    justify-content: left;
    align-items: center;
    margin-left: 0%;
}


/* /Sidebar/ */
.sidebar{
    width: 18.75rem;
    position: fixed;
    left: 30;
    top: 40;
    height: 100%;
    background: linear-gradient(120deg, #080098, #8e44ad);
    z-index: 100;
    transition: all 0s linear;
}

.sidebar-admin img{
    margin-top: 0.25rem;
    margin-left: 18.75rem;
    max-width: 80%;
    height:9.375rem ;
    width: 12.5rem;
    
}
.sidebar-admin h3{
    height: 5.625rem;
    padding: 0.063rem 0rem 0rem 18.75rem;
    color: #fff;
    font-size: 2.5rem ;
}

.sidebar-admin span{
    display: inline-block;
    padding-right: 1rem;
}


.sidebar-menu li{
width: 100%;
margin-bottom: 1.7rem;
padding-left: 1rem;
}

.sidebar-menu{
    margin-top:2rem ;
}

.sidebar-menu a{
    padding-top: 0.25rem;
    display: block;
    color: #fff;
    font-size: 1.438rem;
    margin-top: 0.313rem;
}

.sidebar-menu a:hover{
    border-radius: 0.938rem;
    padding: 0.125rem 0.125rem 0.125rem 0.25rem;
  background-color: white;
  color: #080098;
  margin: 0.063rem;
  
  transition: all 0s linear;
}
.sidebar-menu a.active {
    background: #fff;
    padding-top:1rem ;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 1.875rem 0rem 0rem 1.875rem;
}


/* user list  */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins' , sans-serif;
    overflow: hidden;
}

.table{
    width: calc(100%-300px);
    position: absolute;
    left: 18.75rem;
}

.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem;
    background-color: rgb(240,240,240);
}

.table_header p{
    color:#080098;
}

button{
    outline: none;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 0.375rem;
    color: #ffffff;
}

.a1 button{
    background-color: #080098;
}
.a2 button{
    background-color: #6f009e;
}

.add_new{
    padding: 0.625rem 1.25rem;
    color: #ffffff;
    background-color: #080098;
}

input{
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
    outline: none;
    border: 1px solid #080098;
    border-radius: 0.375rem;
    color: #0298cf;
}

.table_section{
    height: 33rem;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    /* min-width: 1000px; */
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color:#080098;
    color: white;
    font-size: 0.938rem;
}

th,td{
    border-bottom: 1px solid #dddddd;
    padding: 0.625rem 0rem;
    word-break: break-all;
    text-align: center;
}

td{
    font-size: 0.89rem;
}

tr:hover td{
    color: white;
    cursor: pointer;
    background-color: #8f51a9;
}


::placeholder{
    color:#080098;
}

::-webkit-scrollbar{
    height: 0.313rem;
    width: 0.313rem;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,3);
}


button:hover{
    transform: scale(1.02);
}


/*Phone Responsive*/
@media only screen and (max-width:600px) {
    

    .nav__container h5{
        font-size: 2px;
        
    
    }
    .nav__container img{
        height: 90px;
    }
   .sidebar{
    max-width: 200px;
   }

   .table {
    width: calc(100%-18.75rem);
    position: absolute;
    left: 11.75rem;
}
  

   table, thead, tbody, th, td, tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
}

td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}



/*
Label the data
*/
td:nth-of-type(1):before { content: "S.No."; }
td:nth-of-type(2):before { content: "Name"; }
td:nth-of-type(3):before { content: "ID"; }
td:nth-of-type(4):before { content: "Phone No."; }
td:nth-of-type(5):before { content: "Gender"; }
td:nth-of-type(6):before { content: "Designation"; }
td:nth-of-type(7):before { content: "Age"; }
td:nth-of-type(8):before { content: "Action"; }


   
}